footstep_planner/python/environment/*.pyc
footstep_planner/python/graphs/*.pyc
footstep_planner/python/interfaces/*.pyc
footstep_planner/python/*.pyc
footstep_planner/python/proto/*.pyc
footstep_planner/worlds/toy/*.blend1
footstep_planner/worlds/house/*.blend1
footstep_planner/worlds/house/*.blend2
footstep_planner/worlds/house/*.blend
robot_description/*.blend1

src/homotopy_guided_footstep_planner/footstep_planner/python/environment/*.pyc
src/homtopy_guided_footstep_planner/footstep_planner/python/graphs/*.pyc
src/homtopy_guided_footstep_planner/footstep_planner/python/interfaces/*.pyc
src/homtopy_guided_footstep_planner/footstep_planner/python/*.pyc
src/homtopy_guided_footstep_planner/footstep_planner/python/proto/*.pyc
src/homtopy_guided_footstep_planner/footstep_planner/worlds/toy/*.blend1
src/homtopy_guided_footstep_planner/footstep_planner/worlds/house/*.blend1
src/homtopy_guided_footstep_planner/footstep_planner/worlds/house/*.blend2
src/homtopy_guided_footstep_planner/footstep_planner/worlds/house/*.blend
src/homtopy_guided_footstep_planner/robot_description/*.blend1

build/*
devel/*
logs/*
.catkin_tools/*

src/leatherman
src/leatherman
src/sbpl
src/smpl
src/sbpl_geometry_utils
src/CMakeLists.txt

*.swp
*.pyc
